aniso8601==8.0.0
argh==0.26.2
asyncio==3.4.3
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Caching==1.7.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
Flask-SocketIO==4.2.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pathtools==0.1.2
portalocker==1.5.1
python-engineio==3.9.3
python-socketio==4.3.1
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
urllib3==1.25.6
watchdog==0.9.0
Werkzeug==0.16.0
